      <wa-details>
        <span class="wa-heading-m" slot="summary">Michael</span>
        <div class="wa-stack">
          <article class="wa-flank">
            <i class="fa-solid fa-people fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Cousins</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span><%= link_to "Michael", "https://www.linkedin.com/in/michael-onuska-273bb513/" %> and Melissa</span>
                  <br />
                </div>
              </div>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-solid fa-children fa-sm" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">Children</span>
                <div class="wa-cluster wa-gap-2xs">
                  <span>Brooke, Brayden, and Brielle</span>
                  <br />
                </div>
              </div>
            </div>
          </article>
          <wa-divider></wa-divider>
          <article class="wa-flank">
            <i class="fa-regular fa-newspaper fa-xl" style="color: var(--wa-color-blue-30)"></i>
            <div class="wa-split">
              <div class="wa-stack wa-gap-0">
                <span class="wa-heading-s">News</span>
                <span>Living in Watchung, NJ. Co-owns <%= link_to "Sunburst Gymnastics", "https://www.sunburstnj.com/" %></span>
              </div>
            </div>
          </article>
        </div>
      </wa-details>

