---
title: Welcome, Pace Family
---

<article class="sitepress">
  <h1><%= current_page.data.fetch("title") %></h1>

  Working version of the <%= link_to "Onuska family tree, cousins' perspective", "onuska.html" %>
  <br />
  <br />
  <br />

  <%= image_tag "flutar.jpg" %>
</article>
