---
title: Welcome, Pace Family
public: true
---

<article class="sitepress">
  <h1><%= current_page.data.fetch("title") %></h1>

  Working version of the <%= link_to "Onuska family tree, cousins' perspective", "onuska.html" %>
  <br />
  <br />
  <br />
  Here is our <%= link_to "2025 vacation planning page", "vacation" %>, which is intended to be secure...
  <br />
  <br />
  <br />

  <%= image_tag "flutar.jpg" %>
</article>
