---
title: Onuska Cousin Tree
---

<article class="sitepress">
  <h1 align="center"><%= current_page.data.fetch("title") %></h1>

  <div class="wa-stack">
    <wa-details name="group-1" summary="Onuska" open>
      <p>Uncle Mike and Aunt Sot</p>
      <p><b>Michael and eventually xx, Chris and eventually Rebecca, Jenny then temporarily Paul then eventually xx</b></p>
      <p><b>Michael: </b>Brooke, Brayden, and x. <b>Chris: </b>a, b, and c. <b>Jenny: </b>blah, blah</p>
    </wa-details>

    <wa-details name="group-1" summary="Smith">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </wa-details>

    <wa-details name="group-1" summary="Pisarchik">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
    </wa-details>

    <wa-details name="group-1" summary="Pace">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
    </wa-details>

    <wa-details name="group-1" summary="Cosmas">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
    </wa-details>

    <wa-details name="group-1" summary="Berman">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
    </wa-details>

    <wa-details name="group-1" summary="Orfini">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
    </wa-details>
  </div>

  <% if false %>
    <div class="mermaid" id="family-tree">
      graph TD
        A[Grandma and Grandpa Onuska] --> B[Onuska]
        A --> C[Smith]
        A --> D[Pisarchik]
        A --> E[Pace]
        A --> F[Cosmas]
        A --> G[Berman]
        A --> H[Orfini]
        B --> I[Uncle Mike and Aunt Sot]
        I --> J[Michael and ...]
        I --> K[Chris and Rececca]
        I --> L[Jenny and Paul and then ...]
        J --> M[Brooke, Brayden, and ...]

        click K "https://hummelgifts.com/" "Visit Chris and Rebecca's site"
    </div>
  <% end %>

  <br />
  <%= link_to "Pace Family Home", root_path %>
</article>

