---
first_name: Christopher
last_name: Onuska
url: https://www.likableguys.com
family: The Onuskas
family_sort_order: 1
cousin_sort_order: 2
parents: Uncle Mike and Aunt Sot
spouse: Rebecca
children: I think two kids
news_brief: Went to UMich
---

<span>Stolen base is in your face</span>
