---
first_name: Michael
last_name: Onuska
url: https://www.linkedin.com/in/michael-onuska-273bb513/ 
family: The Onuskas
family_sort_order: 1
cousin_sort_order: 1
parents: Uncle Mike and Aunt Sot
spouse: Melissa
children: Brooke, Brayden, and Brielle
news_brief: Living in Watchung, NJ. Co-owns Sunburst Gymnastics
---

<span>Living in Watchung, NJ. Co-owns <%= link_to "Sunburst Gymnastics", "https://www.sunburstnj.com/" %></span>
