---
first_name: Michael
last_name: Onuska
link: https://www.linkedin.com/in/michael-onuska-273bb513/ 
spouse: Melissa
children: Brooke, Brayden, and Brielle
news_brief: Living in Watchung, NJ. Co-owns Sunburst Gymnastics
---

<span>Living in Watchung, NJ. Co-owns <%= link_to "Sunburst Gymnastics", "https://www.sunburstnj.com/" %></span>
