/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body, wa-page, header, nav, footer {
  background-color: var(--wa-color-blue-95);
  padding: 20px;
}

wa-page, main {
  border: 1px solid #ddd;           /* Optional border */
  border-radius: 8px;               /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Drop shadow */
  padding: 20px;                    /* Inner spacing */
  background-color: white;          /* Background color */
}

